@charset "UTF-8";

body {
  padding: 30px;
}

body * {
  box-sizing: border-box;
}

.course {
  width: 300px;
  text-align: center;
  padding: 30px;
  border: 3px solid orange;
}

.modal {
  display: none;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 1;
}

.modal.active {
  display: flex;
}



.modal_inner{
  position: relative;
  background: #fff;
  width: 90%;
  padding: 40px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 3px;
}

.close:hover{
  cursor: pointer;
}

.close::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
  height: 1px;
  background: #000;
  transform: rotate(45deg);
}

.close::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
  height: 1px;
  background: #000;
  transform: rotate(-45deg);
}






